doctype html
html
  head
    title Chatroulette WebRTC
    link(rel='stylesheet', href='/css/bootstrap.min.css')

    script(src='/js/jquery.min.js', type='text/javascript')
    script(src='/js/bootstrap.min.js', type='text/javascript')
    script(src='/js/peer.js', type='text/javascript')
    script(src='/js/socket.js', type='text/javascript')
    script(src='/js/app.js', type='text/javascript')

  body
    block content
